.PageChamados
{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
    margin-left:15px; 
}

.PageChamados p
{
    text-align: justify;
    padding: 15px;
}
.PageChamados label span
{
    font-weight: bold;
    margin-right: 2px;
}
.sizeModalLG
{
    width: 70%;
    max-width: none!important;
}

.checkChamado
{
    border-radius: 15px;
    padding: 10px;
    background-color: #fff1f1;
    margin-bottom: 3px;
}

div.container-app > table > tbody > tr
{
    cursor: pointer;
}