.PageChamados
{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 10px;
}

.PageChamados p
{
    text-align: justify;
}
.PageChamados label span
{
    font-weight: bold;
}
.sizeModalLG
{
    width: 70%;
    max-width: none!important;
}